<div class="text-center">
    <h3>{{ .Get "title" }}</h3>
    <img class="img-fluid mx-auto d-block rounded" src="{{ .Get "image" | absURL}}"  alt="blog-img">
    <p class="small text-dark">
        {{ .Inner }}
    </p>
</div>