{{ with .Site.Data.portfolioSection }}
{{ if .enable }}
<section class="section portfolio blog-preview" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="blog-preview__header">
          <span class="top-title pre-line">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-preview__header_button desktop">
          <a class="btn btn-outline-secondary  btn-zoom m-3" href="portfolio">Voir tous mes travaux</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="portfolio-item-grid">
          {{ range first 4 (where $.Site.RegularPages "Type" "portfolio") }}
          <div class="portfolio-item">
            <img src="{{ .Params.thumbnail }}" class="portfolio-item-thumb" alt="portfolio-thumb" />
            <div class="portfolio-item-content">
              <span>{{ .Params.service }}</span>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              <a class="see-more-btn" href="{{ .Permalink }}">Voir les détails</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-preview__header_button mobile">
          <a class="btn btn-outline-secondary btn-zoom" href="portfolio">Voir tous mes travaux</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}