{{ define "main" }}

    <section class="section case-details">
        <div class="svg-img">
            <img src={{"images/hero/figure-svg.svg" | absURL }} alt="">
        </div>
        <div class="animate-shape">
            <img src="{{"images/skill/skill-background-shape.svg" | absURL }}" alt="background-shape">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
                <defs>
                    <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#f1f6f9" />
                        <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
                    </linearGradient>
                </defs>
                <g data-name="blob-shape (3)">
                    <path class="blob" fill="url(#d)"
                        d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
                </g>
            </svg>
        </div>
        <div class="animate-pattern">
            <img src="{{"images/service/background-pattern.svg" | absURL }}" alt="background-shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="case-details-title mb-5">
                        <h2 class="breadCrumb__title">Conditions générales de vente</h2>
                        <p>
                            Applicable à partir du 1er août 2022 et sujet à changement sans préavis
                        </p>
                    </div>
                    <h4>PRÉAMBULE</h4>
                    <p>
                        Les présentes Conditions Générales de Vente ont pour objet de régir les termes et conditions ainsi que les modalités selon lesquelles YassinDev - Yassin El Kamal NGUESSU (ci-après désigné le PRESTATAIRE) fournit ses services à ses clients. Les présentes Conditions Générales de Vente prévalent sur les informations commerciales affichées sur le site YassinDev, celles-ci pouvant être amenées à être modifiées à tout moment et sans préavis, ou sur toutes autres conditions figurant dans tout autre document.
                    </p>
                    <h4>ARTICLE 1 - DÉFINITIONS</h4>
                    <p>
                        « <span class="font-weight-bold">PRESTATAIRE</span> » désigne YassinDev - Yassin El Kamal NGUESSU, micro-entreprise, dont le siège siège social est situé à Oyomabang-Yaoundé-Cameroun, et immatriculée sous le numéro 528 424 00013.
                    </p>
                    <p>
                        « <span class="font-weight-bold">CLIENT</span> » désigne toute personne physique majeure ou personne morale, sollicitant les services du PRESTATAIRE. La personne ou l’entreprise signataire des présentes Conditions Générales de Vente (signature accompagnée de la mention BON POUR ACCORD sur le devis) se porte garante du paiement de la facture même si celle-ci doit être établie au nom d’un tiers.
                    </p>
                    <h4>ARTICLE 2 - OBJET ET CHAMP D’APPLICATION</h4>
                    <p>
                        Le PRESTATAIRE propose des services de création, réalisation, refonte et maintenance de site internet, site e-commerce et applications web.
                    </p>
                    <p>
                        Le CLIENT peut consulter les Conditions Générales de Vente à tout moment sur le site internet du PRESTATAIRE à l’adresse <a href="../conditions-generales-de-vente">https://code-ouvert.gitlab.io/yassindev/conditions-generales-de-vente/</a>. En conséquence, toute commande passée par le CLIENT pour le compte du PRESTATAIRE emporte acceptation et sans réserve des présentes Conditions Générales de Vente.
                    </p>
                    <h4>ARTICLE 3 - NOM DE DOMAINE ET HÉBERGEMENT</h4>
                    <p>
                        Les prestations de création ou de refonte de site internet s’entendent hors achat de nom de domaine et hors hébergement, ceux-ci étant à la charge du CLIENT. Le PRESTATAIRE peut proposer au CLIENT de contracter chez son partenaire, mais le CLIENT est libre du choix de son fournisseur.
                    </p>
                    <h4>ARTICLE 4 - DROIT DE PUBLICITÉ</h4>
                    <h5>4.1. Références</h5>
                    <p>
                        Le CLIENT autorise le PRESTATAIRE à citer son nom et sa dénomination sociale ainsi que son URL, les copies d'écran de ses pages Web, à titre de références pour la promotion commerciale du PRESTATAIRE.
                    </p>
                    <p>
                        Le CLIENT est informé qu'un lien vers son site sera réalisé depuis le site du PRESTATAIRE. Cela aura pour effet d'augmenter sa visibilité dans les moteurs de recherches. Le CLIENT peut s'opposer à cette mesure par simple courrier adressé au PRESTATAIRE.
                    </p>
                    <h4>ARTICLE 5 - CAHIER DES CHARGES ET DEVIS</h4>
                    <h5>5.1. Cahier des charges</h5>
                    <p>
                        Il est conseillé au CLIENT de remettre au PRESTATAIRE un cahier des charges du site internet qu'il souhaite faire réaliser et le compléter de la façon la plus détaillée possible. Une fois approuvé par les deux parties, ce cahier des charges ne subira plus de modifications et servira de base à l'établissement du devis par le PRESTATAIRE.
                    </p>
                    <h5>5.2. Devis "Réalisation ou refonte de site internet"</h5>
                    <p>
                        Le devis est effectué gratuitement par le PRESTATAIRE, soit à partir du cahier des charges remis par le CLIENT, soit à partir des échanges entre le CLIENT et le PRESTATAIRE, et ce sans engagement pour le CLIENT, sauf cas particulier mentionné par écrit sous forme de courriel au CLIENT, notamment lorsque le devis entraîne un travail de recherche.
                    </p>
                    <p>
                        Le devis est envoyé par courriel au CLIENT au format PDF. L'acceptation du devis implique une bonne compréhension de ce document par le CLIENT.
                    </p>
                    <p>
                        Le devis est valable un (1) mois à compter de sa date d'émission et n'engage pas le CLIENT tant que celui-ci n'a pas confirmé avoir accepté l'offre proposée. Passé ce délai, le PRESTATAIRE est autorisé à modifier le prix. Les prix convenus verbalement n'engagent le PRESTATAIRE que s'ils ont été confirmés par une offre écrite par PDF ou par courriel.
                    </p>
                    <p>
                        En cas d'acceptation, le CLIENT devra imprimer le devis PDF, le signer, apposer la date et la mention manuscrite "BON POUR ACCORD". Tout devis signé par le CLIENT vaut Bon de commande. Le devis signé doit être envoyé par courrier postal à l'adresse du PRESTATAIRE avec le règlement de l'acompte, par chèque ou virement, d'un montant de 50 % de la somme totale, sauf autres conditions mentionnées dans le devis.
                    </p>
                    <p>
                        Le devis accepté et signé par le CLIENT engage les deux parties.
                    </p>
                    <p>
                        Le PRESTATAIRE se réserve le droit de refuser une commande avec un client pour lequel il existerait un litige concernant le règlement d'une commande antérieure.
                    </p>
                    <h4>ARTICLE 6 - ENGAGEMENTS DU CLIENT</h4>
                    <h5>6.1. Fourniture des codes d'accès</h5>
                    <p>
                        Le CLIENT s'engage à fournir au PRESTATAIRE l'ensemble des informations requises pour assurer l'exécution des services prévus dans le présent contrat, et notamment les codes d'accès à son serveur d'hébergement afin que le PRESTATAIRE puisse procéder à l'installation du site internet et intervenir pour la maintenance de ce site.
                    </p>
                    <h5>6.2. Fourniture des contenus</h5>
                    <p>
                        Le CLIENT s'engage à fournir tous les éléments de textes, images, vidéos et sons nécessaires à la réalisation du contrat et à collaborer avec le PRESTATAIRE en mettant à sa disposition tout document ou information qui pourrait être demandé par le PRESTATAIRE.
                    </p>
                    <p>
                        Tous les contenus de textes et médias sont à fournir par le CLIENT avant le commencement des travaux et dans leur intégralité.
                    </p>
                    <h5>6.3. Délai de fourniture des contenus</h5>
                    <p>
                        Le CLIENT s'engage à fournir au PRESTATAIRE, sous un délai de trois (3) mois après la date de l'acceptation de l'offre, tous les éléments nécessaires à la réalisation du devis accepté. Passé ce délai, la facture finale sera majorée d'un supplément de 5% de son montant total par tranches de trois (3) mois écoulés. Par exemple, si le CLIENT fournit ses éléments six (6) mois écoulés après la date de la signature du devis, la facture définitive sera majorée de 10%.
                    </p>
                    <h5>6.4. Propriété intellectuelle</h5>
                    <p>
                        Le CLIENT doit impérativement s'assurer qu'il est propriétaire de tous les droits de propriété intellectuelle afférents à ces éléments ainsi qu'aux autres documents de toute nature présents sur son site internet et que les ressources fournies ne sont pas susceptibles de porter atteinte aux droits des tiers.
                    </p>
                    <p>
                        Le CLIENT est informé que les publications constituent notamment des oeuvres de l'esprit protégées par les droits d'auteurs au sens de l'article L 112-2 1er et 2ème du Code de la Propriété Intellectuelle. Le CLIENT s'engage en conséquence à faire figurer sur les pages de son site internet l'identité et l'adresse du propriétaire ou de l'auteur des textes et/ou images reprises et à effectuer toutes les demandes nécessaires, conformément à la loi française en vigueur.
                    </p>
                    <p>
                        Le CLIENT s'engage à ne fournir au PRESTATAIRE que des documents réels et représentatifs de son entreprise et non des ressources en provenance de la concurrence.
                    </p>
                    <h5>6.5. Collaboration active</h5>
                    <p>
                        Le CLIENT s'engage à collaborer activement avec le PRESTATAIRE en lui fournissant dans les délais utiles les informations et documents nécessaires à la bonne exécution du contrat. Le PRESTATAIRE ne pourra être tenu pour responsable en cas de retard dans l'exécution des travaux dû au non respect de cet engagement par le CLIENT.
                    </p>
                    <h5>6.6. Sauvegarde des contenus</h5>
                    <p>
                        Le CLIENT s'engage à conserver l'intégralité des originaux de toutes les ressources fournies au PRESTATAIRE qui ne pourra être tenu pour responsable en cas de perte lors de modification du site internet par le PRESTATAIRE ou par toute autre personne.
                    </p>
                    <h5>6.7. Informatique et Libertés</h5>
                    <p>
                        Le CLIENT s'engage à respecter les dispositions relatives aux mentions légales obligatoires à insérer sur son site internet en vertu de la loi du 30 septembre 1986 modifiée et celles relatives à l'informatique, aux fichiers et aux libertés, en particulier celles relatives aux déclarations des traitements automatisés d'informations nominatives auprès de la Commission Nationale de l'Informatique et des Libertés (C.N.I.L.).
                    </p>
                    <h5>6.8. Paiement</h5>
                    <p>
                        Le CLIENT s'engage à régler les sommes dues dans les délais indiqués à la commande.
                    </p>
                    <h4>ARTICLE 7 - ENGAGEMENTS DU PRESTATAIRE</h4>
                    <p>
                        Dans le cadre d'une obligation de moyen dans l'exécution du contrat, le PRESTATAIRE s'engage à:
                        <ul>
                            <li>Concevoir et mettre en ligne le site internet, conformément au devis accepté par le CLIENT;</li>
                            <li>Apporter tout le soin nécessaire à la mise en oeuvre d'un service de qualité;</li>
                            <li>Informer régulièrement le CLIENT sur l'avancée de la réalisation du contrat;</li>
                            <li>Préserver la confidentialité de toutes les informations et documents qu'il pourrait détenir du fait de l'exécution du présent contrat;</li>
                            <li>Assurer la confidentialité des informations hébergées et à ne les communiquer à aucun tiers, même si le présent contrat arrive à son terme ou se trouve résilié.</li>
                        </ul>
                    </p>
                    <h4>ARTICLE 8 - COMMANDE</h4>
                    <h5>8.1. Conclusion du contrat</h5>
                    <p>
                        Le CLIENT reconnaît avoir reçu du PRESTATAIRE toutes les informations et conseils qui lui étaient nécessaires pour souscrire le contrat. Ainsi, les choix effectués par le CLIENT lors de sa commande ou ultérieurement demeurent sous son entière responsabilité.
                    </p>
                    <p>
                        Le contrat est considéré comme conclu à réception du devis signé par le CLIENT avec la mention manuscrite "BON POUR ACCORD" et de l'acompte. Le début des travaux ne sera enclenché qu'après encaissement de l'acompte.
                    </p>
                    <h5>8.2. Aspect graphique du site</h5>
                    <p>
                        Une fois la commande passée par le CLIENT, il propose au PRESTATAIRE une maquette graphique en adéquation avec le cahier des charges ou selon le projet détaillé par le CLIENT lors des échanges avec le PRESTATAIRE. Tout changement ultérieur pourra faire l'objet d'une estimation du temps supplémentaire destiné à la recherche et aux modifications du contenu déjà intégré. Le positionnement des différents éléments est soumis aux caractéristiques de la charte graphique choisie par le CLIENT qui devra s'assurer que celui-ci correspond à ses besoins présents et futurs.
                    </p>
                    <h5>8.3. Installation sur le serveur d'hébergement</h5>
                    <p>
                        Le PRESTATAIRE installe la base de données sur l'hébergement du CLIENT ou, en cas de refonte de site, sur un serveur temporaire durant le temps de réalisation du site internet puis sur le serveur du CLIENT.
                    </p>
                    <h5>8.4. Intégration des contenus</h5>
                    <p>
                        Le PRESTATAIRE procède à la mise en place de l'arborescence et à l'intégration des textes, images, vidéos, et... fournis par le CLIENT.
                    </p>
                    <p>
                        8.4.1. Le CLIENT est tenu de relire très attentivement ses textes avant de les transmettre au PRESTATAIRE (orthographe, majuscules, singulier/pluriel, tournures de phrases...). A la livraison du site internet, si les modifications demandées par le CLIENT sur les textes s'avéraient importantes, le PRESTATAIRE se réserve le droit de facturer un supplément au prorata du temps supplémentaire passé, après en avoir averti le CLIENT par courriel.
                    </p>
                    <p>
                        8.4.2. Dans le cas où des modifications, retouches et autres prestations prévues au devis devaient engendrer un temps de réalisation excessif par rapport au délai normalement nécessaire, comme par exemple l'exploitation des fichiers et documents fournis par le CLIENT, une majoration au tarif horaire sera appliquée au prorata du temps passé.
                    </p>
                    <h5>8.5. Livraison et achèvement des travaux</h5>
                    <p>
                        Le PRESTATAIRE informera le CLIENT par courriel de la mise en ligne du site internet. Le courriel de mise en ligne signifiera l'achèvement des travaux.
                    </p>
                    <p>
                        Durant quinze (15) jours suivant la mise en ligne du site internet, le CLIENT pourra demander des modifications mineures du contenu du site, c'est-à-dire la légère modification des textes (fautes d'orthographe, changement de mots ou modification de phrases, etc...). Les changements plus importants de type ajout de paragraphes entiers feront l'objet d'une nouvelle facturation.
                    </p>
                    <h4>ARTICLE 9 - DELAI DE RETRACTATION</h4>
                    <h5>9.1. Clients professionnels</h5>
                    <p>
                        Le délai de rétractation n'est pas de rigueur entre professionnels.
                    </p>
                    <h5>9.2. Clients particuliers</h5>
                    <p>
                        Le délai de rétractation est applicable pour les clients dits "particuliers", personnes physiques ne disposant pas de numéro de SIREN/SIRET et faisant appel au PRESTATAIRE à titre personnel.
                    </p>
                    <p>
                        Dans ce cas, le CLIENT dispose d'un délai de rétractation de quatorze (14) jours ouvrables à partir de l'acceptation de l'offre. Le jour, qui sert de point de départ, ne compte pas. Lorsque le délai s'achève un samedi, un dimanche ou un jour férié ou chômé, il est prolongé jusqu'au premier jour ouvrable suivant.
                    </p>
                    <p>
                        Ce droit de rétractation s'effectue par courrier adressé au PRESTATAIRE en recommandé avec accusé de réception et donne droit pour le CLIENT au remboursement des sommes déjà versées par lui dans un délai de quatorze (14) jours à compter de la réception de l'avis.
                    </p>
                    <p>
                        Au-delà de ce délai de rétractation, la commande ne peut plus être annulée et la somme est due de plein droit, productive d'intérêts au taux légal en vigueur.
                    </p>
                    <h4>ARTICLE 10 - MODIFICATION OU ANNULATION DE COMMANDE</h4>
                    <p>
                        Toute modification ou annulation de prestation par le CLIENT donnera lieu à un courriel de confirmation de la part du PRESTATAIRE.
                    </p>
                    <h5>10.1. Modification</h5>
                    <p>
                        La prestation comprend uniquement les services spécifiés dans le devis et approuvés par le CLIENT. Aucun devis ne peut être modifié sans l'accord express de chacune des deux parties. Toute modification ou ajout ultérieur apporté au devis initial fera l'objet d'un nouveau devis et/ou d'une nouvelle facturation.
                    </p>
                    <p>
                        Toute modification de devis demandée par le CLIENT et approuvée par le PRESTATAIRE pourra donner lieu à des délais de livraison supplémentaires.
                    </p>
                    <h5>10.2. Annulation (hors service de maintenance)</h5>
                    <p>
                        En cas d'annulation des services du PRESTATAIRE par le CLIENT après la signature et la réception du devis/Bon de commande et avant le démarrage des travaux, un pourcentage d'un montant de 30 % du montant total de la facture sera demandé à titre de dommages et intérêts et de compensation pour services rendus.
                    </p>
                    <p>
                        En cas d'annulation des services du PRESTATAIRE par le CLIENT pendant la réalisation des travaux, le PRESTATAIRE se réserve le droit de retenir une somme au prorata des travaux effectués.
                    </p>
                    <p>
                        Si l'annulation d'une commande ou rupture d'un contrat sont du fait du PRESTATAIRE et ne résultent pas d'un cas de force majeure (coupure du réseau internet, piratage du système du PRESTATAIRE, invalidité, maladie grave,...) et si les raisons de l'annulation n'engagent pas le CLIENT (comportement illicite, défaut de paiement,...), le PRESTATAIRE s'engage à reverser au CLIENT l'intégralité des sommes perçues dans un délai de quatorze (14) jours à compter de la déclaration d'annulation ou de rupture.
                    </p>
                    <h4>ARTICLE 11 - DéLAIS DE LIVRAISON</h4>
                    <h5>11.1. Planning</h5>
                    <p>
                        La durée de réalisation de la prestation sera évaluée lors de l'étude préalable, avec si possible un planning convenu en commun accord entre les parties lors de la phase d'élaboration du cahier des charges.
                    </p>
                    <p>
                        Toute modification du fait du CLIENT apportée postérieurement à la signature du devis et ayant pour conséquence un surcroît des charges et un allongement du temps prévu initialement fera l'objet d'une réévaluation des délais de livraison.
                    </p>
                    <p>
                        Le PRESTATAIRE s'engage à respecter au mieux le délai annoncé et à informer régulièrement le CLIENT de l'avancée des travaux.
                    </p>
                    <h5>11.2. Retard de livraison</h5>
                    <p>
                        Le délai de livraison ne dépend pas uniquement du PRESTATAIRE mais du CLIENT à qui il appartient de fournir les éléments nécessaires à la réalisation des travaux (documents, codes d'accès au serveur d'hébergement, etc...). Le PRESTATAIRE décline toute responsabilité en cas de retard occasionné par le CLIENT par suite de transmission insuffisante ou tardive de ces éléments.
                    </p>
                    <p>
                        Le PRESTATAIRE se réserve le droit de suspendre toute commande dans l'attente des éléments du CLIENT devant figurer dans le cadre de celle-ci, sans préjudice ni contrepartie financière et sans que cela ne constitue motif de résiliation de la commande.
                    </p>
                    <p>
                        Dans le cas où le CLIENT mettrait un temps anormalement long à fournir les éléments nécessaires à la bonne exécution du contrat, le PRESTATAIRE se réserve le droit d'éditer une facture intermédiaire pour les travaux déjà réalisés.
                    </p>
                    <p>
                        Les retards de livraison ne peuvent justifier l'annulation de la commande par le CLIENT, ni donner lieu au paiement de dommages et intérêts, indemnités ou pénalités.
                    </p>
                    <h5>11.3. Devis de "mise à jour"</h5>
                    <p>
                        Dans le cadre d'un devis de mise à jour demandé par le CLIENT, comme l'ajout de textes, de pages ou d'articles, le PRESTATAIRE interviendra dans un délai de cinq (5) jours ouvrés après la réception des éléments, sauf en cas de fermeture exceptionnelle signalée au préalable par courriel au CLIENT. Toute mise à jour est à régler avant le commencement des travaux, avec édition de la facture acquittée à l'achèvement des travaux.
                    </p>
                    <h4>ARTICLE 12 - GARANTIE</h4>
                    <p>
                        La garantie ne porte que sur les prestations décrites dans le contrat/devis signé et accepté par le CLIENT.
                    </p>
                    <h5>12.1. Vérification de la commande</h5>
                    <p>
                        Le CLIENT doit vérifier le bon fonctionnement de son site internet dès la mise en ligne officielle et transmettre au PRESTATAIRE les dysfonctionnements constatés.
                    </p>
                    <p>
                        Le PRESTATAIRE s'engage à remédier à tout problème de fonctionnement résultant d'un défaut de conception ou d'exécution de ses prestations.
                    </p>
                    <p>
                        Toutefois, l'obligation de garantie du PRESTATAIRE est exclue dans les cas constatés de dysfonctionnements suivants :
                        <ul>
                            <li>dus à une mauvaise utilisation du CLIENT;</li>
                            <li>suite à une intervention du CLIENT ou d'un tiers autre que le PRESTATAIRE;</li>
                            <li>correspondants à une clause de non responsabilité des présentes Conditions de Vente;</li>
                            <li>suite à une négligence, à un défaut de gestion ou de maintenance du CLIENT.</li>
                        </ul>
                    </p>
                    <h5>12.2. Délai de garantie</h5>
                    <p>
                        Le CLIENT dispose de quinze (15) jours à compter de la mise en ligne officielle de son site internet, et/ou de la livraison d'une prestation annexe, pour faire jouer la présente garantie en cas de dysfonctionnement constaté.
                    </p>
                    <h4>ARTICLE 13 - CONTRAT DE MAINTENANCE</h4>
                    <h5>13.1. Champ d'application</h5>
                    <p>
                        Le CLIENT reconnaît avoir vérifié l'adéquation du service à ses besoins et avoir reçu du PRESTATAIRE toutes les informations et conseils qui lui étaient nécessaires pour souscrire au présent engagement de maintenance de son site internet en connaissance de cause.
                    </p>
                    <p>
                        La maintenance n'assume que les mises à jour des produits installés et ne concerne que le site internet dont les noms de domaine sont précisés dans le contrat.
                    </p>
                    <p>
                        La maintenance comprend:
                        <ul>
                            <li>la mise à jour régulière des composants du site;</li>
                            <li>l'optimisation basique de la base de données;</li>
                            <li>la sauvegarde des pages et de la base de données;</li>
                            <li>les mesures préventives qui sembleront nécessaires au PRESTATAIRE afin de garantir la stabilité, la cohérence et la sécurité du site sans avoir à obtenir l'accord préalable du CLIENT.</li>
                        </ul>
                    </p>
                    <p>
                        La maintenance n'inclut pas:
                        <ul>
                            <li>les modifications ou ajout de pages, articles, textes, images, vidéos, sons, etc...;</li>
                            <li>l'optimisation de la banque d'images : le CLIENT est tenu de supprimer les médias en plusieurs exemplaires qu'il aura lui-même insérées et de vérifier qu'il a correctement nommé chaque média (sans accents) ;</li>
                            <li>la résolution de problèmes suite à une mauvaise manipulation du CLIENT;</li>
                            <li>la résolution de problèmes suite à l'ajout de fonctionnalités par le CLIENT;</li>
                            <li>la résolution de problèmes de sécurité de type intrusions malveillante de tiers, vol et détournements éventuels de mots de passe, site hacké ou piraté,...</li>
                        </ul>
                    </p>
                    <h5>13.2. Modalités d'intervention</h5>
                    <p>
                        Lorsque le contrat de maintenance est souscrit par le CLIENT, le PRESTATAIRE ira visiter au minimum une (1) fois par mois l'espace d'administration de son site internet afin de procéder aux vérifications préventives. Les mises à jour incluses dans la maintenance se feront au moment le plus adéquat, jugé par le PRESTATAIRE et dans l'intérêt du site internet du CLIENT.
                    </p>
                    <h5>13.3. Durée du contrat et reconduction</h5>
                    <p>
                        Le contrat de maintenance est conclu pour une durée de un (1) an et n'est pas reconductible automatiquement à l'échéance de celui-ci. A la fin du contrat, le PRESTATAIRE se réserve le droit de proposer un nouveau devis avec ses nouvelles tarifications ou de ne pas reconduire le contrat. Le CLIENT n'est nullement tenu de reconduire un contrat de maintenance avec le PRESTATAIRE.
                    </p>
                    <p>
                        Pour procéder à la reconduction du contrat, le PRESTATAIRE notifiera par courriel le CLIENT selon la date anniversaire du renouvellement et selon le calendrier suivant:
                        <ul>
                            <li>1er rappel: J - 15 jours</li>
                            <li>2ème rappel et fermeture de la maintenance: jour J</li>
                            <li>Arrêt de la maintenance: J + 15 jours</li>
                        </ul>
                    </p>
                    <p>
                        Cette notification sera faite par courriel uniquement et sera adressée au contact de facturation (adresse de courriel à tenir à jour, sous la responsabilité du CLIENT).
                    </p>
                        <p>
                            Il appartient au CLIENT de solliciter le renouvellement avec un délai suffisant de sorte que le paiement soit effectivement reçu par le PRESTATAIRE avant expiration du contrat de maintenance précédent.
                        </p>
                        <h5>13.4. Résiliation du service de maintenance</h5>
                        <p>
                            Le contrat de maintenance ne peut être résilié avant l'échéance du terme, à l'initiative de l'une des parties sans le consentement de l'autre partie, sauf en cas de force majeure. En cas de consentement mutuel de résiliation de contrat, le CLIENT ne pourra prétendre au remboursement par le PRESTATAIRE des sommes déjà versées.
                        </p>
                        <h6>13.4.1. Défaut de paiement</h6>
                        <p>
                            A défaut de l'entier paiement du prix du renouvellement fixé dans le tarif, le PRESTATAIRE ne pourra effectuer le renouvellement demandé par le CLIENT. Le CLIENT recevra un courriel de notification de fermeture de la maintenance à la date d'anniversaire de celle-ci. L'arrêt définitif de la maintenance interviendra à J + 15 jours selon la date anniversaire du renouvellement et le CLIENT recevra un courriel pour l'informer de l'arrêt de la maintenance pour défaut de paiement.
                        </p>
                        <p>
                            Si le CLIENT souhaitait réactiver la maintenance après J + 15 jours, un supplément pour interruption de service sera appliqué. Le contrat de maintenance sera remis en service, une fois toutes les sommes perçues par le PRESTATAIRE (prix du contrat de maintenance auquel s'ajoutera le supplément pour interruption de service).
                        </p>
                        <h6>13.4.2. Force majeure</h6>
                        <p>
                            En cas de force majeure dans les conditions prévues à l'article 19 des présentes Conditions Générales de Vente, chaque partie peut résilier de plein droit et sans indemnité le contrat de maintenance.
                        </p>
                        <h6>13.4.3. Non-respect des obligations du CLIENT</h6>
                        <p>
                            Le non-respect par le CLIENT de ses responsabilités stipulées dans l'article 17 des présentes Conditions Générales de Vente, entraînera le droit pour le PRESTATAIRE d'interrompre sans délai et sans mise en demeure préalable les services du CLIENT et de résilier immédiatement et de plein droit le contrat de maintenance, sans préjudice du droit à tous dommages-intérêts auxquels le PRESTATAIRE pourrait prétendre. Dans ces hypothèses, le CLIENT ne pourra prétendre au remboursement par le PRESTATAIRE des sommes déjà versées.
                        </p>
                        <h6>13.4.4. A l'initiative du PRESTATAIRE</h6>
                        <p>
                            Le PRESTATAIRE pourra mettre fin au contrat arrivé à son terme par lettre recommandée avec demande d'avis de réception, sous réserve d'un préavis de deux (2) mois avant la date anniversaire, sans justification à donner et sans droit à indemnités. Le CLIENT ne pourra prétendre au remboursement des sommes déjà versées.
                        </p>
                        <p>
                            Si le PRESTATAIRE résilie le contrat suite au non-respect des obligations du CLIENT et ayant entraîné préjudice pour le PRESTATAIRE, celui-ci se réserve le droit de poursuivre le CLIENT pour obtenir la réparation complète de ce préjudice et notamment le remboursement de dommages et intérêts, pénalités, frais, honoraires exposés par le PRESTATAIRE.
                        </p>
                        <h5>13.5. Mise à jour des données personnelles</h5>
                        <p>
                            Le CLIENT s'engage à informer le PRESTATAIRE de toute modification concernant sa situation (notamment changement d'adresse, électronique ou autre...) au plus tard dans le mois de ce changement, sauf pour le changement de l'adresse de messagerie, dont la modification devra être transmise dans les 48 heures à compter de son utilisation.
                        </p>
                        <h4>ARTICLE 14 - NON-SOUSCRIPTION AU SERVICE DE MAINTENANCE</h4>
                        <h5>14.1. Champ d'application</h5>
                        <p>
                            Si un contrat de maintenance n'est pas pris ou reconduit par le CLIENT, la responsabilité du PRESTATAIRE envers le site internet du CLIENT est totalement dégagée.
                        </p>
                        <p>
                            Les mises à jour du site et de tout composant installé sur le site internet deviennent à la charge du CLIENT. Etant donné que le CLIENT devient le seul administrateur de son site internet et qu'il peut faire des erreurs, la stabilité du site internet n'est pas garantie dans le temps.
                        </p>
                        <h5>14.2. Mots de passe</h5>
                        <p>
                        Une fois le contrat achevé et le site internet mis en ligne, et seulement dans le cas où un contrat de maintenance ne serait pas souscrit, il est recommandé au CLIENT de modifier les mots de passe qui donnent accès à son site. Le PRESTATAIRE décline toute responsabilité en cas de dommages subis si le CLIENT n'a pas changé ses codes d'accès.
                    </p>
                    <h5>14.3. Intervention suite à problème technique</h5>
                    <p>
                        Si aucun contrat de maintenance n'était souscrit par le CLIENT et en cas de problème technique ultérieur ou si le site devait être installé à nouveau sur le serveur d'hébergement, un nouveau devis sera établi par le PRESTATAIRE pour résoudre et réparer le problème constaté. Le CLIENT sera libre d'accepter ce devis ou de choisir un autre fournisseur.
                    </p>
                    <h4>ARTICLE 15 - GESTION DU SITE PAR LE CLIENT</h4>
                    <h5>15.1. Formation de base</h5>
                    <p>
                        A la demande du CLIENT, le PRESTATAIRE est en mesure de lui apporter une formation de base à la gestion de son site internet. Cette formation doit permettre au CLIENT gérer le site au quotidien... En aucun cas, cette formation ne prétend apporter une formation complète à la création et à la gestion de site internet ou aux langages de programmation.
                    </p>
                    <p>
                        Toute formation de base prévue dans le devis initial devra être effectuée par le CLIENT dans un délai de trois (3) mois après la livraison du site internet. A la demande du CLIENT, le PRESTATAIRE peut lui proposer par la suite d'autres formations complémentaires sur devis.
                    </p>
                    <h5>15.2. Limites de responsabilité</h5>
                    <p>
                        Le PRESTATAIRE n'a aucune obligation de contrôle sur les modifications apportées sur le site internet par le CLIENT ou par toute autre personne ne travaillant pas pour le PRESTATAIRE.
                    </p>
                    <p>
                        Le CLIENT, ou la personne désignée par lui, administrant le site internet par l'ajout de pages, d'articles et de médias est tenu de tenir en bon ordre la base de données. Le CLIENT doit notamment supprimer les images en plusieurs exemplaires ou inutilisées. Afin de pouvoir garantir une bonne stabilité dans les sauvegardes du site internet, le CLIENT prendra notamment garde à ne pas nommer les images avec des accents. Le CLIENT a une obligation d'auto-contrôle sur les modifications qu'il apporte sur le site internet. Le PRESTATAIRE ne sera en aucun cas responsable de la perte de données suite à une négligence du CLIENT.
                    </p>
                    <p>
                        En cas de dysfonctionnement du site internet dû à une mauvaise manipulation de la part du CLIENT, le PRESTATAIRE facturera d'office au CLIENT les heures de maintenance qui auront été nécessaires au rétablissement du bon fonctionnement du site.
                    </p>
                    <p>
                        Le PRESTATAIRE décline toute responsabilité quant au bon maintien du site internet si le CLIENT réalise lui-même les mises à jour du site ou de ses composants. Si le site internet venait à subir quelque dommage suite à l'intervention du CLIENT, le PRESTATAIRE émettra une facture correspondante aux travaux nécessaires pour le bon rétablissement du site internet.
                    </p>
                    <p>
                        Le CLIENT qui interviendra sur le code source le fera à ses risques et périls et le PRESTATAIRE ne pourra être tenu pour responsable du dysfonctionnement du site.
                    </p>
                    <p>
                        Le PRESTATAIRE décline toute responsabilité dans le cas où les interventions de maintenance devaient s'avérer impossibles à effectuer du fait de la gravité des dommages subis suite aux modifications faites par le CLIENT sur le site internet.
                    </p>
                    <h4>ARTICLE 16 - TARIFS ET PAIEMENT</h4>
                    <h5>16.1. Micro-entreprise et TVA</h5>
                    <p>
                        Déclarés sous le régime de la micro entreprise, les services du PRESTATAIRE ne sont pas soumis à la TVA (TVA non applicable, article 293B du CGI). Les devis et factures émis par le PRESTATAIRE sont par conséquent nets de taxes.
                    </p>
                    <h5>16.2. Champ d'application</h5>
                    <p>
                        En contrepartie des prestations mentionnées dans le devis accepté par le CLIENT, celui-ci s'engage à payer le PRESTATAIRE du montant des tarifs spécifiés sur le devis. Le CLIENT est seul responsable du paiement de l'ensemble des sommes dues au titre du contrat de prestations de services du PRESTATAIRE.
                    </p>
                    <p>
                        Les prix des prestations peuvent évoluer à tout moment sauf pour les devis acceptés et retournés au PRESTATAIRE. Les tarifs servant de base de facturation sont des prix unitaires.
                    </p>
                    <p>
                        Pour les contrats à échéance annuelle de type maintenance, le CLIENT est informé du nouveau tarif dans le 1er courriel de notification du renouvellement, envoyé trente (30) jours avant la date anniversaire. Le CLIENT sera libre de renouveler ou non le contrat.
                    </p>
                    <h5>16.3. Modes de règlement</h5>
                    <p>
                        Le CLIENT professionnel ou non professionnel doit régler le prix selon les spécifications prévues sur le devis, soit par chèque libellé au nom de Benoit Gambier, soit par virement bancaire sur le compte du PRESTATAIRE.
                    </p>
                    <p>
                        Toute contestation ou réserve relative à une facture devra être notifiée au PRESTATAIRE au plus tard dans les cinq (5) jours de sa réception. A défaut, la facture sera considérée comme définitivement acceptée par le CLIENT et la créance correspondante comme incontestable.
                    </p>
                    <h5>16.4. Modalités de paiement</h5>
                    <p>
                        Le devis précise les modalités de paiement qui sont les suivantes:
                    </p>
                    <h6>16.4.1. Réalisation de site internet ou refonte de site</h6>
                    <p>
                        Lors de l'acception des services, le CLIENT complètera et signera le devis qui fera office de Bon de commande. Les modalités de paiement sont les suivantes:
                        <ul>
                            <li>Acompte de 50% à la commande</li>
                            <li>Le solde à la mise en ligne définitive du site internet, à régler sous dix (10) jours.</li>
                        </ul>
                    </p>
                    <h6>16.4.2. Maintenance</h6>
                    <p>
                        <ul>
                            <li>Règlement avant expiration du contrat de maintenance précédent;</li>
                            <li>Il appartient au CLIENT de solliciter le renouvellement de la maintenance de son site internet avec un délai suffisant de sorte que le paiement soit effectivement reçu par le PRESTATAIRE avant expiration de la maintenance précédente. Tout incident et/ou retard de paiement à l'échéance entraînera suspension de services suite à aux rappels du PRESTATAIRE.</li>
                        </ul>
                    </p>
                    <h6>16.4.3. Prestations annexes, devis de "mise à jour"</h6>
                    <p>
                        <ul>
                            <li>Règlement à la commande, avant la réalisation du devis correspondant aux travaux.</li>
                        </ul>
                    </p>
                    <h5>16.5. Transfert de propriété</h5>
                    <p>
                        Les travaux réalisés restent l'entière propriété du PRESTATAIRE jusqu'au paiement intégral de la facture correspondante. Le transfert de propriété du PRESTATAIRE vers le CLIENT s'effectue à compter du règlement du solde restant dû par le CLIENT.
                    </p>
                    <h5>16.6. Retard de paiement</h5>
                    <p>
                        Tout retard de paiement au-delà de dix (10) jours à compter de la date d'émission de la facture entraînera de plein droit, conformément à la loi, des pénalités de retard égales à 10 % du montant de la facture.
                    </p>
                    <p>
                        Le point de départ des pénalités de retard est le lendemain de l'échéance.
                    </p>
                    <p>
                        Le point d'arrivée du calcul des pénalités est constitué par la date du règlement de la facture. Le CLIENT doit procéder au règlement des pénalités de retard en même temps que le règlement de sa facture. Les pénalités de retard sont dues et sont exigibles dès lors que le CLIENT n'a pas procédé au règlement de sa facture à l'échéance. Le PRESTATAIRE n'a pas à informer le CLIENT de l'application et de l'exigibilité des pénalités de retard, celles-ci s'appliquent de plein droit.
                    </p>
                    <p>
                        Tout CLIENT professionnel en situation de retard de paiement est redevable à l'égard du PRESTATAIRE d'une indemnité forfaitaire pour frais de recouvrement de 40 euros en plus des pénalités de retard. Dans l'hypothèse où les frais de recouvrement exposés seraient supérieurs au montant de la pénalité forfaitaire, le PRESTATAIRE pourra demander une indemnisation complémentaire sur justification.
                    </p>
                    <p>
                        Le PRESTATAIRE se réserve de plein droit la faculté de suspendre les travaux en cours jusqu'à règlement complet de la facture impayée sans que cette inexécution lui soit imputable.
                    </p>
                    <h4>ARTICLE 17 - RESPONSABILITE</h4>
                    <h5>17.1. Champ d'application</h5>
                    <p>
                        Seul le CLIENT est dit "responsable" de son site internet et ce dès la mise en ligne. La responsabilité du PRESTATAIRE sera en conséquence entièrement dégagée à partir de la livraison du site internet.
                    </p>
                    <p>
                        Le CLIENT est propriétaire du site internet et est libre de la gestion du contenu et de l'administration. Le CLIENT déclare accepter les caractéristiques et les limites de l'Internet et reconnaît en particulier les points suivants : les données circulant sur l'Internet ne sont pas protégées, notamment contre des détournements éventuels.
                    </p>
                    <p>
                        Le PRESTATAIRE ne pourra en aucun cas être tenu pour responsable de problèmes liés à l'hébergement, au référencement, à la fiabilité de la transmission de données, aux temps d'accès, à la rapidité de chargement du site internet, au volume de ventes pour les sites e-commerce.
                    </p>
                    <p>
                        Le PRESTATAIRE exécutera ses prestations en respectant les règles de l'art en usage dans la profession. Il est expressément spécifié que le PRESTATAIRE n'est pas tenu par une obligation de résultat mais par un engagement de moyens.
                    </p>
                    <h5>17.2. Contenu du site internet</h5>
                    <p>
                        Le CLIENT est seul responsable des propos et des contenus de son site internet, de l'ensemble des informations communiquées, de leur exploitation et de leur mise à jour, ainsi que de tous fichiers, notamment fichiers d'adresses. En conséquence, le PRESTATAIRE ne serait être tenu pour responsable du contenu des informations transmises, diffusées ou collectées, de leur exploitation et de leur mise à jour, ainsi que de tous fichiers, notamment fichiers d'adresses et ce, à quelque titre que ce soit.
                    </p>
                    <p>
                        Avant de transmettre un élément graphique ou textuel au PRESTATAIRE pour la bonne réalisation du contrat, le CLIENT doit s'assurer qu'il dispose de tous les droits de reproduction et d'utilisation de cet élément. Seule la responsabilité du CLIENT est engagée à ce titre.
                    </p>
                    <p>
                        Le CLIENT est civilement et pénalement responsable de la moralité, du respect des lois et règlements notamment en matière de protection des mineurs et du respect de la personne humaine ainsi que de ses données personnelles et des droits des tiers notamment en matière de propriété intellectuelle ainsi que de l'ensemble des données communiquées. Le CLIENT s'engage à respecter les principes universels d'usage de l'Internet.
                    </p>
                    <p>
                        Le CLIENT s'engage à ne pas proposer de pages, textes, images, sons, vidéos ou autres animations non conformes à la législation française. Le CLIENT s'engage à ne pas utiliser de lien hypertexte pointant vers des sites ou des pages allant à l'encontre des lois françaises ou internationales ou pouvant nuire à l'image du PRESTATAIRE.
                    </p>
                    <h5>17.3. Légalité</h5>
                    <p>
                        Le CLIENT ne doit pas, de quelque manière que ce soit, par exemple par des bandeaux publicitaires, porter atteinte à la loi, à l'ordre public, aux bonnes moeurs et/ou aux droits des tiers (droit des marques, droit d'auteur, protection des mineurs, protection des bases de données, etc...). Le CLIENT s'engage notamment à ne pas proposer de contenus à caractère pornographique, ni proposer ou laisser proposer des prestations commerciales qui ont un caractère pornographique et/ou érotique ou manifestement illicite ou attentatoire à l'ordre public (violence, incitation à la haine raciale, fourniture de produits ou services strictement prohibés sur le territoire, etc...).
                    </p>
                    <p>
                        Le PRESTATAIRE décline toute responsabilité légale et morale si le CLIENT a trompé le PRESTATAIRE quant au futur contenu du site contraire aux bonnes moeurs ou à contenu illégal, que ce soit en cours de mission ou après. Si un CLIENT commande un tel service à l'insu du PRESTATAIRE, le PRESTATAIRE se réserve le droit de divulguer toute information à la police et à la Justice. Le CLIENT sera tenu au versement immédiat d'une pénalité contractuelle de 3800 (trois mille huit cents) EUR par violation constatée, ce versement n'étant pas exclusif d'une demande judiciaire de dommages et intérêts. Il est précisé que le CLIENT devra payer autant de fois la pénalité que le nombre de violations éventuellement constatées. Le CLIENT sera tenu d'enlever sans délai toute référence au PRESTATAIRE sur son site internet.
                    </p>
                    <h5>17.4. Préjudices indirects</h5>
                    <p>
                        En aucun cas, la responsabilité du PRESTATAIRE ne pourrait être engagée pour les préjudices indirects, tels que les préjudices financiers ou commerciaux, perte de commandes, perte de données, manque à gagner, atteinte à l'image de marque, perte de bénéfices ou de clients (par exemple, divulgation inopportune d'informations confidentielles les concernant par suite de défectuosité ou de piratage du système).
                    </p>
                    <p>
                        Le PRESTATAIRE ne saurait-être tenu pour responsable d'éventuelles pertes d'exploitation résultant d'une indisponibilité temporaire ou permanente, partielle ou totale d'une boutique de commerce électronique.
                    </p>
                    <h5>17.5. Informations légales</h5>
                    <p>
                        La responsabilité du PRESTATAIRE ne saurait en aucun cas être engagée en cas de non respect par le CLIENT des autorisations légales et réglementaires, notamment en ce qui concerne le traitement des données.
                    </p>
                    <p>
                        La rédaction de "mentions légales", de "conditions d'utilisation", de "conditions générales de ventes" (...), au même titre que tout contenu ne rentre pas dans le cadre du contrat. En aucun cas, la responsabilité du PRESTATAIRE ne pourra être engagée pour défaillance ou manquement de mise en ligne de contenu à caractère contractuel par le CLIENT.
                    </p>
                    <h5>17.6. Protection des données</h5>
                    <p>
                        Le PRESTATAIRE décline toute responsabilité en cas d'intrusions malveillantes de tiers sur le site internet et/ou dans les boîtes aux lettres électroniques du CLIENT ; de vol et détournements éventuels de mots de passe, codes confidentiels, et plus généralement de toute information à caractère sensible pour le CLIENT; de contamination par virus des données et/ou logiciels du CLIENT (il est rappelé que la protection de ceux-ci incombe au CLIENT); de dommages que pourraient subir les équipements du CLIENT, le PRESTATAIRE n'ayant aucune intervention à faire sur ceux-ci.
                    </p>
                    <h5>17.7. Interruption pour maintenance</h5>
                    <p>
                        Dans le cadre d'un service de maintenance, le PRESTATAIRE se réserve le droit d'interrompre temporairement l'accessibilité au site internet sans droit à indemnités. Cependant, le PRESTATAIRE s'engage à mettre en oeuvre tous les moyens dont il dispose pour minimiser ce type d'interruption. Le PRESTATAIRE est non responsable de la perte de revenus due à une interruption ou une défaillance de service.
                    </p>
                    <h5>17.8. Limites de responsabilité: Internet et FAI</h5>
                    <p>
                        Le PRESTATAIRE ne peut être tenu responsable de la perte de données sur les serveurs d'hébergement. Cependant le PRESTATAIRE s'engage à tout mettre en oeuvre pour sécuriser les données du CLIENT dans la limite de son champ d'action. Il s'agit ici d'une obligation de moyens et non de résultats.
                    </p>
                    <p>
                        Le PRESTATAIRE ne serait être tenu pour responsable du non-respect total ou partiel d'une obligation du CLIENT et/ou d'une défaillance des opérateurs des réseaux de transport vers le monde Internet et en particulier de son ou ses fournisseurs d'accès. A ce titre, le PRESTATAIRE informe le CLIENT que ses prestations sont indépendantes d'autres opérateurs techniques et que sa responsabilité ne peut être engagée par leur défaillance.
                    </p>
                    <h5>17.9. Dommages et intérêts</h5>
                    <p>
                        Le CLIENT s'engage à prendre à sa charge toute réclamation et/ou procédure quelle qu'en soit la forme, l'objet ou la nature qui serait formée contre le PRESTATAIRE et qui se rattacherait aux obligations mises à la charge du CLIENT au titre du présent contrat.
                    </p>
                    <p>
                        En tout état de cause, le montant des dommages-intérêts qui pourraient être mis à la charge du PRESTATAIRE, si sa responsabilité était engagée, sera limité au montant des sommes effectivement versées par le CLIENT au PRESTATAIRE pour la période considérée ou facturée au CLIENT par le PRESTATAIRE ou au montant des sommes correspondant au prix de la prestation, pour la part du service pour laquelle la responsabilité du PRESTATAIRE a été retenue. Sera pris en considération le montant le plus faible de ces sommes.
                    </p>
                    <h4>ARTICLE 18 - INCAPACITE DE TRAVAIL</h4>
                    <p>
                        Le PRESTATAIRE se doit d'avertir le CLIENT dès le premier jour ouvrable de son incapacité.
                    </p>
                    <p>
                        En cas d'incapacité de travail, par suite de maladie ou d'accident, le PRESTATAIRE se réserve le droit rompre les contrats en cours, et/ou modifier le calendrier en cours sans qu'il ne puisse être exigé par le CLIENT le versement d'indemnités.
                    </p>
                    <h4>ARTICLE 19 - FORCE MAJEURE</h4>
                    <h5>19.1. Champ d'application</h5>
                    <p>
                        Toutes circonstances indépendantes de la volonté des parties, empêchant l'exécution dans des conditions normales de leurs obligations, sont considérées comme des causes d'exonération des obligations des parties et entraînent leur suspension.
                    </p>
                    <p>
                        La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur survenance, ainsi que de leur disparition.
                    </p>
                    <h5>19.2. Cas de force majeure et responsabilités</h5>
                    <p>
                        Aucune des deux parties ne sera tenue pour responsable vis-à-vis de l'autre de la non-exécution ou des retards dans l'exécution d'une obligation du contrat qui seraient dus au fait de l'autre partie consécutivement à la survenance d'un cas de force majeure habituellement reconnu par la jurisprudence et les tribunaux français.
                    </p>
                    <p>
                        En aucun cas, la responsabilité du PRESTATAIRE ne pourra être recherchée en cas de force majeure habituellement reconnu par la jurisprudence et les tribunaux français, évènement ou incident indépendant de la volonté du PRESTATAIRE.
                    </p>
                    <p>
                        Constitue un cas de force majeure tout événement hors de contrôle, inévitable et indépendant de la volonté des parties dont le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, panne d'électricité, l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes au CLIENT...
                    </p>
                    <h4>ARTICLE 20 - CONFIDENTIALITE</h4>
                    <p>
                        Chacune des parties s'engage à conserver confidentiels, pendant la durée du contrat et après son expiration, l'ensemble des informations, documents, savoir-faire, base de données, mots de passe et codes confidentiels en provenance de l'autre partie dont elle pourrait avoir eu connaissance à l'occasion de l'exécution du contrat, et ne devra les divulguer à quelques tiers que ce soit, ni les utiliser en dehors des besoins du contrat.
                    </p>
                    <h4>ARTICLE 21 - PROPRIETE INTELLECTUELLE</h4>
                    <p>
                        La propriété intellectuelle des créations réalisées par le PRESTATAIRE est transférée au CLIENT dès réception et encaissement du paiement effectif et intégral de la prestation.
                    </p>
                    <h4>ARTICLE 22 - DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION</h4>
                    <p>
                        La loi française est seule applicable aux présentes Conditions Générales de Vente. En cas de litige survenant à l'occasion du contrat, tout différent lié à son interprétation, son exécution ou sa validité,et éventuellement après une tentative de recherche d'une solution amiable, sera soumis à la compétence exclusive du Tribunal de Commerce d'Auxerre (89).
                    </p>
                </div>
            </div>
        </div>
    </section>

{{ end }}