{{ define "main" }}

<section class="section case-details">
        <div class="svg-img">
            <img src={{"images/hero/figure-svg.svg" | absURL }} alt="">
        </div>
        <div class="animate-shape">
            <img src="{{"images/skill/skill-background-shape.svg" | absURL }}" alt="background-shape">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
                <defs>
                    <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#f1f6f9" />
                        <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
                    </linearGradient>
                </defs>
                <g data-name="blob-shape (3)">
                    <path class="blob" fill="url(#d)"
                        d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
                </g>
            </svg>
        </div>
        <div class="animate-pattern">
            <img src="{{"images/service/background-pattern.svg" | absURL }}" alt="background-shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="case-details-title mb-5">
                        <h2 class="breadCrumb__title">Mentions légales et confidentialité</h2>
                    </div>
                    <p>
                        Le site YassinDev est édité par :
                        <br/>YassinDev – Yassin El Kamal NGUESSU, micro-entreprise située à Oyomabang-Yaoundé-Cameroun, dont le SIRET est le 528 424 00013.
                    </p>
                    <p>
                        Le <span class="font-weight-bold">Directeur de Publication</span> est <span class="font-weight-bold">Yassin El Kamal NGUESSU</span>, qui assure également la maintenance et l’administration.
                    </p>
                    <p>
                        Le site YassinDev est hébergé par :
                        <br/>GitLab, SARL au capital de 100000€ dont le siège social est établi à 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand, immatriculée au Registre du Commerce et des Sociétés sous le numéro 510 909 80700024 - RCS Clermont Ferrand
                    </p>
                    <h4>Déclaration de confidentialité</h4>
                    <p>
                        YassinDev prête une attention particulière à vos données personnelles, et s’engage à ne transmettre, vendre ou céder à un tiers aucune information personnelle vous concernant.
                    </p>
                    <p>
                        Conformément à la loi « Informatique et Libertés » N° 78-17 du 6 Janvier 1978, vous bénéficiez d’un droit d’accès, de rectification et d’opposition. Pour l’exercer, merci de bien vouloir nous contacter par l’intermédiaire du formulaire de contact.
                    </p>
                </div>
            </div>

        </div>
    </section>

{{ end }}